// Shared resizable layout styles
@use './utils/resizable-layout.scss';

// @import '~react-tabs/style/react-tabs';

.react-tabs__tab {
  a {
    cursor: pointer;
  }
  &.active a {
    cursor: none;
  }
}
.react-tabs__tab-panel--selected {
  z-index: 1;
}

// Add border to tabs allotment pane
.split-view-view:has(.ctn-tabbed) {
  border-left: 1px solid #ccc;
}
